<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <header class="header">
      <h1>About</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, sunt
        necessitatibus? Debitis aliquam accusamus dolorum dolore optio
        perspiciatis ex incidunt?
      </p>
    </header>
  </body>
</html>
