<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <header class="header">
      <h1>Homepage</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, nam
        fugit alias quisquam ad repellat labore odit architecto nihil quibusdam?
      </p>
    </header>
  </body>
</html>
